# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

resources:
  repositories:
  - repository: repositoryTemplate
    type: git
    name: HDCDemo/YAMLTemplates
pool:
  vmImage: 'windows-latest'
variables:
  template: HDCDevops.variables.yml

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
stages:
- template: Stages/build_publish_test_dotnetcore.yml@repositoryTemplate
  parameters:
    projectPath: ''
    applicationName: ${{ variables.applicationName }}

- template: Stages/deploy_arm_dotnetcore.yml
  paramters:
   environmentName: 'DEV'
   applciationName: ${{ variables.applicationName }}
   regionAbrv: 'eus'
