# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

resources:
  repositories:
  - repository: repositoryTemplate
    type: git
    name: HDCDemo/YAMLTemplates
pool:
  vmImage: 'ubuntu-latest'

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
stages:
jobs:
  - template: Jobs/build.yml@repositoryTemplate
    parameters:
      solutionPath: 'Code/HDCDemo_Code'
      projectName: 'HDCDemo'
  - template: Jobs/publish.yml@repositoryTemplate

- stage: Deploy
  jobs:
  - deployment: "Deploy_ARM"
    displayName: "Deploy ARM"
    environment: "DEV"
    variables:
    - group: "HDCDemo_DEV"
    strategy:
      runOnce:
        deploy:
            steps:
            - task: ExtractFiles@1
              displayName: 'Extract files '
              inputs:
                    destinationFolder: '$(Pipeline.Workspace)/unzip'
                    archiveFilePatterns: '$(Pipeline.Workspace)/drop/*.zip'
                    cleanDestinationFolder: true 
            - task: AzureResourceGroupDeployment@2
              displayName: 'Resource Group Deployment'
              inputs:
                  azureSubscription: 'DEV'
                  resourceGroupName: 'rg-HDCDemo-dev-cus'
                  location: 'centralus'
                  csmFile: '/home/vsts/work/1/unzip/a/Infrastructure/HDCDemoApp/HDCDemoApp/azuredeploy.json'
                  csmParametersFile: '/home/vsts/work/1/unzip/a/Infrastructure/HDCDemoApp/HDCDemoApp/azuredeploy.parameters.dev.json'
                  overrideParameters: -secretValue ${{variables.secretValue}}
