# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

resources:
  repositories:
  - repository: repositoryTemplate
    type: git
    name: HDCDemo/YAMLTemplates
pool:
  vmImage: 'ubuntu-latest'
variables:
  template: HDCDevops.variables.yml

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
stages:
- stage: Build_Publish
  jobs:
    - template: Jobs/build.yml@repositoryTemplate
      parameters:
        solutionPath: ${{ variables.solutionPath}}
        projectName: ${{ variables.HDCDemoCodeProjectName }}
    - template: Jobs/publish.yml@repositoryTemplate
      parameters:
        applicationName: ${{ variables.applicationName}}

- stage: Deploy
  jobs:
  - template: Jobs/deploy_arm.yml
    parameters:
      environment: 'DEV'
